@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-3">
    <div>
        <div>Рэйтинг</div>
        С
        <input id="ratingFilterValue1" type="text" class="tui-grid-filter-input">
        До
        <input id="ratingFilterValue2" type="text" class="tui-grid-filter-input">
        <button id="ratingFilterButtonClear" class="tui-grid-filter-btn tui-grid-filter-btn-clear" type="button">Очистить</button>
        <button id="ratingFilterButtonApprove" class="tui-grid-filter-btn tui-grid-filter-btn-apply" type="button">Принять</button>
    </div>
    <div>
        <div>Дата рождения</div>
        <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
            <input id="startpicker-input" type="text" aria-label="Date">
            <span class="tui-ico-date"></span>
            <div id="startpicker-container" style="margin-left: -1px;"></div>
        </div>
        <span>to</span>
        <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
            <input id="endpicker-input" type="text" aria-label="Date">
            <span class="tui-ico-date"></span>
            <div id="endpicker-container" style="margin-left: -1px;"></div>
        </div>
        <button id="dobFilterButtonClear" class="tui-grid-filter-btn tui-grid-filter-btn-clear" type="button">Очистить</button>
        <button id="dobFilterButtonApprove" class="tui-grid-filter-btn tui-grid-filter-btn-apply" type="button">Принять</button>
    </div>
    <div class="mt-3">
        <button type="button" id="exportCSVButton" class="btn btn-primary">Export CSV</button>
    </div>
    <div class="mt-3">
        <button type="button" id="exportExcelButton" class="btn btn-primary">Export Excel</button>
    </div>
   
</div>

<div id="content">

</div>
@*<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>